.button {
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: Georgia;
  color: #FFFFFF;
  background-color: #7D938A;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #5F6F68;
}

.field {
  margin-top: 10px;
  font-family: Georgia;
  color: #6D5F66;
}
