.title {
  font-family: Georgia;
  color: #7D938A;
  font-weight: bold;
  font-size: x-large;
}

.description {
  font-family: Georgia;
  color: #6d5f66;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
