.container {
    background-color: #7D938A;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 500;
    padding: 10px;
    width: 55vw;
    color: white;
}
